<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tubeslayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/dash-user.css">
    <link rel="stylesheet" href="/css/matkul-peserta.css">
    <link rel="icon" href="/logo/blue-logo.png" type="image/png">

    <script src="/js/dash-user.js" defer></script>
    <script src="/js/matkul-detail-admin.js" defer></script>
    <link href='https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/logo/blue-logo.png" alt="logo">
                </span>
                <div class="text header-text">
                    <span class="name">Tubeslayer</span>
                </div>
            </div>
        </header>

        <i class='bxr bx-chevron-right toggle'></i>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a th:href="@{/admin/dashboard}">
                            <img src="/icon/dashboard.png" class="icon">
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/admin/menu-awal-ad}">
                            <img src="/icon/database.png" class="icon">
                            <span class="text nav-text">Data</span>
                        </a>
                    </li>

                    <li class="nav-link active">
                        <a th:href="@{/admin/arsip-mata-kuliah}">
                            <img src="/icon/archive.png" class="icon archive-icon">
                            <span class="text nav-text">Arsip Mata Kuliah</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="home">

        <div class="header">
            <div class="left-section">
                <span class="dashboard-title">Arsip Mata Kuliah</span>
            </div>

            <div class="right-section">
                <div class="info">
                    <span class="name" th:text="${user.nama}">Nama Admin</span>
                    <span class="role" th:text="${user.role}">Peran Admin</span>
                </div>

                <a th:href="@{/profil}">
                    <img src="/icon/pfp.png" class="pfp" alt="pfp">
                </a>

                <button class="logout" id="logoutButton">
                    <img src="/icon/logout.png" class="logout-btn">
                </button>
            </div>
        </div>

        <div class="mk-tab" th:data-mk-kode="${mkDetail?.kodeMK}">
            <button class="tab active" data-tab-target="kuliah"
                th:attr="data-target-url=@{/admin/arsip-matkul-detail(kodeMk=${mkDetail.kodeMK})}"
                onclick="window.location.href=this.getAttribute('data-target-url')"> Kuliah
            </button>

            <button class="tab" data-tab-target="peserta"
                th:attr="data-target-url=@{/admin/matkul-peserta(kodeMk=${mkDetail.kodeMK})}"
                onclick="window.location.href=this.getAttribute('data-target-url')"> Daftar Peserta
            </button>
            <button class="tab" data-tab-target="nilai">Nilai</button>
        </div>

        <div class="detail-wrapper">

            <div class="mk-header">
                <div class="mk-img" th:classappend="'gradient-' + (${colorIndex} + 1)"></div>
                <div class="mk-info">
                    <h1 th:text="${mkDetail?.nama ?: 'Mata Kuliah Tidak Ditemukan'}">Mata Kuliah</h1>

                    <p><b>Koordinator:</b>
                        <span th:text="${koordinator?.user?.nama ?: 'Belum Ditentukan'}">Belum Ditentukan</span>
                    </p>

                    <p><b>NIP:</b>
                        <span th:text="${koordinator?.user?.idUser ?: 'XXXXX'}">XXXXX</span>
                    </p>
                </div>
            </div>

            <div class="breadcrumb">

                <a th:href="@{/admin/arsip-mata-kuliah}" style="text-decoration: none;">
                    Arsip Mata Kuliah
                </a>

                &gt;

                <a th:href="@{/admin/arsip-matkul-detail(kodeMk=${mkDetail.kodeMK})}"
                    style="text-decoration: none;">
                    <span th:text="${mkDetail?.nama}">Mata Kuliah</span>
                </a>

                &gt;

                Daftar Tugas Besar
            </div>

            <div class="search-and-count">
                <span class="peserta-count" th:text="|Total Tugas: ${tugasDataList.size()}|">Total Tugas: 0</span>

                <div class="search-box">
                    <input type="text" placeholder="Cari nama tugas disini...">
                    <button><img src="/icon/search.png" alt="search"></button>
                </div>
            </div>

            <div class="peserta-content">

                <div class="peserta-table-wrapper">
                    <table id="peserta-table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama Tugas Besar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="data, iStat : ${tugasDataList}" class="page-item">
                                <td th:text="${iStat.count} + '.'">1.</td>
                                <td>
                                    <a th:href="@{/admin/tugas-detail(idTugas=${data.idTugas})}" class="task-link"
                                        th:text="${data.judulTugas}">
                                        Tugas Besar Tahap 1
                                    </a>
                                </td>
                            </tr>

                            <tr id="empty-results-row" class="empty-message-row" style="display: none;">
                                <td colspan="4">
                                    <div class="empty-message-content">
                                        <span class="empty-message-text-wrapper">
                                            Tidak ada tugas besar terdaftar dalam mata kuliah ini.
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </section>

</body>

</html>