<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelola Dosen - Tubeslayer</title>
    
    <link rel="stylesheet" href="/css/kelola-dosen.css">
    <script src="/js/kelola-dosen.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>

    <link href='https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="/logo/blue-logo.png" alt="logo">
            </span>

            <div class="text header-text">
                <span class="name">Tubeslayer</span>
            </div>
        </div>
    </header>
        <i class='bxr bx-chevron-right toggle'></i>
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link active">
                    <a href="#">
                        <img src="/icon/dashboard.png" class="icon dashboard-icon">
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/admin/menu-awal-ad">
                        <img src="/icon/database.png" class="icon database-icon">
                        <span class="text nav-text">Data</span>
                    </a>
                </li>
                   <li class="nav-link">
                    <a href="#">
                        <img src="/icon/archive.png" class="icon archive-icon">
                        <span class="text nav-text">Arsip Mata Kuliah</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="home">

    <div class="header">
        <div class="left-section">
            <div class="judul">
               <span class="dashboard-title">Kelola Dosen</span>
            </div>
        </div>

        <div class="right-section">
            <div class="info">
                <span class="name">Maria Gabriela</span>
                <span class="role">Admin</span>
            </div>

            <img src="/icon/pfp.png" class="pfp" alt="pfp">

            <button type="button" class="logout">
                <img src="/icon/logout.png" class="logout-btn" alt="logo-logout">
            </button>
        </div>
    </div>

    <div class="content-section">

        <div class="dosen-banner">
            <img src="/icon/dosen-biru.png" alt="Icon Dosen">
            <h1>Kelola Dosen</h1>
        </div>

        <div class="list-container">

            <div class="list-header">
               <h3 id="list-title">
                    Daftar Dosen 
                    <span id="sub-title"></span>
                    <span id="sub-title-2"></span>
                </h3>
                <div class="search-box" id="search-bar">
                    <input type="text" placeholder="Cari nama dosen disini...">
                    <i class='bx bx-search'></i>
                </div>
            </div>

            <!-- VIEW 1: Tabel -->
            <div class="custom-table-container" id="table-view">
                <div class="table-header-row">
                    <span>No</span>
                    <span>NIP</span>
                    <span>Nama</span>
                    <span>Mata Kuliah</span>
                    <span>Status</span>
                </div>

                <div class="data-row"></div>
                <div class="data-row"></div>
                <div class="data-row"></div>
            </div>

            <!-- FOOTER -->
            <div class="footer-actions" id="footer-view">
                <div class="button-group">
                    <button class="btn btn-delete" id="btn-delete">Hapus Dosen</button>
                    <button class="btn btn-add" id="btn-add">Tambah Dosen</button>
                </div>
            </div>

            <!-- VIEW 2: Pilih Cara -->
            <div class="pilih-cara" id="pilih-cara">
                <div class="pilih-cara-content">
                    <div class="button-group">
                        <button class="btn btn-import" id="btn-import">Import</button>
                        <button class="btn btn-manual" id="btn-manual">Tambah Baru</button>
                    </div>
                </div>
            </div>

            <!-- VIEW 3: Milih yang import -->
            <div class="import-dosen" id="import-dosen">
                <div class="import-dosen-content">
                    <input type="file" id="file-input" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    <button class="btn btn-pilih-file" id="btn-pilih-file">Upload</button>
                </div>
            </div>

            <!-- VIEW 4 : Milih Tambah Baru-->
            <div class="tambah-dosen" id="tambah-dosen">
                <div class="tambah-dosen-content">
                    <form id="tambah-dosen-form">
                        <label for="nip-dosen">NIP:</label>
                        <input type="text" id="nip-dosen" name="nidn-dosen" required placeholder="Isi NIP dosen...">

                        <label for="nama-dosen">Nama Dosen:</label>
                        <input type="text" id="nama-dosen" name="nama-dosen" required placeholder="Isi nama dosen...">

                        <label for="matkul-dosen">Mata Kuliah:</label>
                        <input type="text" id="matkul-dosen" name="matkul-dosen" required placeholder="Mata kuliah yang diampu...">

                        <label for="status-dosen">Status:</label>
                        <select id="status-dosen" name="status-dosen" required>
                            <option value="1">Aktif</option>
                            <option value="0">Nonaktif</option>
                        </select>

                        <button type="submit" class="btn btn-submit" id="btn-submit">Tambah Dosen</button>
                    </form>
                </div>
            </div>

            <!-- VIEW 5: Hapus Dosen -->
            <div class="hapus-dosen" id="view-hapus-dosen">
                <div class="hapus-dosen-content">
                    <div class="input-wrapper">
                        <div class="search-box">
                            <input type="text" id="search-input" placeholder="Cari nama dosen disini...">
                        </div>
                        <ul class="suggestions" id="suggestions"></ul>
                    </div>
                    <div class="button-group">
                        <button class="btn btn-cancel" id="btn-cancel-delete">Batal</button>
                        <button class="btn btn-confirm-delete" id="btn-confirm-delete">Hapus</button>
                    </div>
                </div>
            </div>

            <!-- VIEW 6: Konfirmasi Hapus-->
            <div class="konfirmasi-hapus" id="konfirmasi-hapus">
                <div class="konfirmasi-hapus-content">
                    <span>Apakah Anda yakin ingin menghapus dosen ini?</span>
                    <div class="button-group">
                        <button class="btn btn-cancel" id="btn-cancel-confirm">Batal</button>
                        <button class="btn btn-confirm-delete" id="btn-confirm-delete-final">Hapus</button>
                    </div>  
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>
