<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Tubeslayer</title>
   <link rel="stylesheet" href="/css/menu-awal-ad.css">
   <script src="/js/menu-awal-ad.js" defer></script>
   <link href='https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="/logo/blue-logo.png" alt="logo">
            </span>

            <div class ="text header-text">
                <span class="name">Tubeslayer</span>
            </div>
        </div>
    </header>
    <i class='bxr bx-chevron-right toggle'></i> 
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link active">
                    <a href="/admin/dashboard">
                        <img src="/icon/dashboard.png" alt="Dashboard Icon" class="icon dashboard-icon">
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/admin/menu-awal-ad">
                        <img src="/icon/database.png" alt="Database Icon" class="icon database-icon">
                        <span class="text nav-text">Data</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <img src="/icon/archive.png" alt="Archive Icon" class="icon archive-icon">
                        <span class="text nav-text">Arsip Mata Kuliah</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="home">
    <div class="header">
        <div class="left-section">
            <div class ="judul">
               <span class="dashboard-title">Data</span>
            </div>
        </div>
        <div class="right-section">
            <div class="info">
                <span class="name">Maria Gabriela</span>
                <span class="role">Admin</span>
            </div>
            <img src="/icon/pfp.png" class="pfp" alt="pfp">
            <button type="button" class="logout">
                <img src="/icon/logout.png" class="logout-btn" alt="logo-logout">
            </button>
        </div>
    </div>
        <div class="content-section">
            <div class="card mata-kuliah" id="btnMatkul">
                <div class="icon-container">
                    <img src="/icon/matkul-biru.png" alt="Icon Mata Kuliah">
                </div>
                    <span class="title">Kelola Mata Kuliah</span>
                </div>
            <div class="card dosen" id="btnDosen">
                <div class="icon-container">
                    <img src="/icon/dosen-biru.png" alt="Icon Dosen">
                </div>
                    <span class="title">Kelola Dosen</span>
                </div>
            <div class="card mahasiswa" id="btnMaha">
                <div class="icon-container">
                    <img src="/icon/mahasiswa-biru.png" alt="Icon Mahasiswa">
                    </div>
                    <span class="title">Kelola Mahasiswa</span>
                </div>
            </div>
        </div>
</section>
</body>
</html>