<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard Nilai Dosen</title>
        <link rel="stylesheet" href="../../../../resources/static/css/dashboard-nilai-admin.css">
        <script src="../../../static/js/dashboard-nilai-admin.js" defer></script>
        <link href='https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css' rel='stylesheet'>  
    </head>

    <body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../../../static/logo/blue-logo.png" alt="logo">
            </span>

            <div class ="text header-text">
                <span class="name">Tubeslayer</span>
            </div>
        </div>
    </header>
    <i class='bx bx-chevron-right toggle'></i> 
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link active">
                    <a href="#">
                        <img src="../../../static/icon/dashboard.png" alt="Dashboard Icon" class="icon dashboard-icon">
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <img src="../../../static/icon/database.png" alt="Database Icon" class="icon database-icon">
                        <span class="text nav-text">Data</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <img src="../../../static/icon/archive.png" alt="Archive Icon" class="icon archive-icon">
                        <span class="text nav-text">Arsip Mata Kuliah</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="home">
    <div class="header">
        <div class="left-section">
            <span class="dashboard-title">Arsip Mata Kuliah</span>
        </div>
        <div class="right-section">
            <div class="info">
                <span class="name">Maria Gabriela</span>
                <span class="role">Admin</span>
            </div>
            <img src="../../../static/icon/pfp.png" class="pfp" alt="pfp">
            <button type="button" class="logout">
                <img src="../../../static/icon/logout.png" class="logout-btn" alt="logo-logout">
            </button>
        </div>
    </div>

    <div class="contents">
        <!-- Navigation Bar Container -->
        <div class="nav-segmented-control">
            <!-- 1. Kuliah Segment (Inactive) -->
            <div class="kuliah-segment">
                Kuliah
            </div>

            <!-- 2. Daftar Peserta Segment (Inactive) -->
            <div class="Daftar-Peserta-segment">
                Daftar Peserta
            </div>

            <!-- 3. Nilai Segment (Active) -->
            <div class="nav-active">
                Nilai
            </div>
        </div>
    </div>

    <div class="container">

        <div class="rectangle-blue">
            <div class="tb-title">
                <img src="../../../static/icon/bookj ver4.png" class="tb-icon">
                <span class="tb-text">Tugas Besar Tahap 1</span>
            </div>
        </div>
        <div class="rectangle-white">
            <div class="breadcrumb">
                <a href="pemberian-nilai-dosen.html" class="crumb">Pemberian Nilai</a>
                <span class="crumb"> > </span>
                <a href="pemberian-nilai-individu-dosen.html" class="crumb">Kelompok 1</a>
                <span class="crumb"> > </span>
                <span class="crumb current">Rubrik Penilaian</span>
            </div>

            <div class="card-container">
                <a href="rubrik-penilaian-admin.html" class="card">
                    <img src="../../../static/icon/rubrik.png">
                    <p>Rubrik Penilaian</p>
                </a>

                <a href="jadwal-penilaian-admin.html" class="card">
                    <img src="../../../static/icon/jadwal.png">
                    <p>Jadwal Penilaian</p>
                </a>

                <a href="pemberian-nilai-admin.html" class="card">
                    <img src="../../../static/icon/exam.png">
                    <p>Pemberian Nilai</p>
                </a>
            </div>

        </div>
    </div>
    
</section>
    </body>
</html>