<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard Nilai Dosen</title>
        <link rel="stylesheet" href="../../../../resources/static/css/nilai-admin.css">
        <script src="../../../static/js/nilai-admin.js" defer></script>
        <link href='https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css' rel='stylesheet'>  
    </head>

    <body>
        <nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../../../static/logo/blue-logo.png" alt="logo">
            </span>

            <div class ="text header-text">
                <span class="name">Tubeslayer</span>
            </div>
        </div>
    </header>
    <i class='bx bx-chevron-right toggle'></i> 
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link active">
                    <a href="#">
                        <img src="../../../static/icon/dashboard.png" alt="Dashboard Icon" class="icon dashboard-icon">
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <img src="../../../static/icon/database.png" alt="Database Icon" class="icon database-icon">
                        <span class="text nav-text">Data</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <img src="../../../static/icon/archive.png" alt="Archive Icon" class="icon archive-icon">
                        <span class="text nav-text">Arsip Mata Kuliah</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section class="home">
    <div class="header">
        <div class="left-section">
            <span class="dashboard-title"></span>
        </div>
        <div class="right-section">
            <div class="info">
                <span class="name">Maria Gabriela</span>
                <span class="role">Admin</span>
            </div>
            <img src="../../../static/icon/pfp.png" class="pfp" alt="pfp">
            <button type="button" class="logout">
                <img src="../../../static/icon/logout.png" class="logout-btn" alt="logo-logout">
            </button>
        </div>
    </div>

    <div class="contents">
        <div class="nav-segmented-control">
            <div class="kuliah-segment">
                Kuliah
            </div>

            <div class="Daftar-Peserta-segment">
                Daftar Peserta
            </div>

            <div class="nav-active">
                Nilai
            </div>
        </div>
    </div>

    <div class="container">
        <div class="rectangle-blue">
            <div class="tb-title">
                <img src="../../../../resources/static/icon/matkul-2.png" class="tb-icon">
                <div class="subject-info-wrapper">
                    <div class="subject-title">Artificial Intelligence</div>
                    <div class="subject-details">
                        <span class="bold-koor">Koordinator: </span> Clara Joycelyne Siauttara <br>
                        <span class="bold-NIP">NIP: </span>20080107
                    </div>
                </div>
            </div>
        </div>
        
        <div class="rectangle-white">
            <div class="search-and-info">
                    <div class="search-wrapper">
                        <input type="text" class="search-input" placeholder="Cari nama disini...">
                        <img src="../../../static/icon/search.png" class="search-icon" alt="Search Icon">
                    </div>
                    
            </div>

            <div class="task-info">
                Daftar Tugas Besar
            </div>
            
            <div class="rectangle-yellow">
                

                <div class="assignment-table-wrapper">
                    <div class="assignment-header">
                        <div class="col-no">No</div>
                        <div class="col-nama">Nama</div>
                        <div class="col-kel">Kelompok</div>
                        <div class="col-sub">Submission</div>

                    </div>

                    <div class="assignment-row-1">
                        <div class="col-no"></div>
                        <div class="col-nama"></div>
                        <div class="col-kel"></div>
                        <div class="col-sub"></div>
                    </div>

                    <div class="assignment-row-2">
                        <div class="col-no"></div>
                        <div class="col-nama"></div>
                        <div class="col-sub"></div>
                    </div>

                    <div class="assignment-row-3">
                        <div class="col-no"></div>
                        <div class="col-nama"></div>
                        <div class="col-kel"></div>
                        <div class="col-sub"></div>
                    </div>

                    <div class="assignment-row-4">
                        <div class="col-no"></div>
                        <div class="col-nama"></div>
                        <div class="col-kel"></div>
                        <div class="col-sub"></div>
                    </div>
                </div>
            </div>

            <div class="halaman"></div>
        </div>
    </div>
    
</section>
    </body>
</html>