<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas Besar Tahap 1</title>
    <link rel="stylesheet" href="../../static/css/hlmtubes-Dosen-styles.css" />
    <link href='https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <script src="../../static/js/sidebar-hlmtubes.js" defer></script>
  </head>
  <body>
   <!-- Header -->
<div class="header">
    <div class="header-left">
    </div>
    <div class="header-right">
        <div class="user-info">
            <div class="user-name">Clara Joycelyne Siauttara</div>
            <div class="user-role">Dosen</div>
        </div>
        <div class="user-avatar">
            <img src="../../static/icon/pfp.png" alt="useravtr">
        </div>
        <div class="logout-icon">
            <img src="../../static/icon/logout.png" alt="logouticon">
        </div>
    </div>
</div>
    </div>

   <!-- Sidebar -->
 <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../../static/logo/blue-logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">Tubeslayer</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <img src="../../static/icon/dashboard.png" alt="Dashboard Icon" class="icon dashboard-icon">
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link active">
                        <a href="#">
                            <img src="../../static/icon/open-book.png" alt="Open book Icon" class="icon open-book-icon">
                            <span class="text nav-text">Mata Kuliah</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
      <!-- Tabs -->
      <div class="tabs">
        <button class="tab">Kuliah</button>
        <button class="tab">Daftar Peserta</button>
        <button class="tab">Nilai</button>
      </div>

      <!-- Card Container -->
      <div class="card-container">
        <!-- Title Section -->
        <div class="title-section">
          <div class="book-icon">
            <img src="../../static/icon/open-book.png" alt="bookiconbig" />
          </div>
          <h1>Tugas Besar Tahap 1</h1>
        </div>

        <!-- Content Card -->
        <div class="content-card">
          <!-- Breadcrumb -->
          <div class="breadcrumb"> <!-- breadcrumb masih bisa berubah agar bisa linked ke hlman lain-->
            Daftar Mata Kuliah <span>></span> Artificial Intelligence
            <span>></span> Tugas Besar Tahap 1
          </div>
          <div class="content-header">
            <div class="folder-icon">
              <img
                src="../../static/icon/blue-folder.png"
                alt="foldericon"
              />
            </div>
            <h2>Tugas Besar Tahap 1</h2>
          </div>

          <p class="content-description">
            Pada tugas ini Anda diminta untuk membuat program yang dapat
            membantu mahasiswa untuk menghitung nilai IPK mereka.
          </p>

          <p class="content-description">
            Tugas ini dilakukan berkelompok sebanyak 5 orang dan kelompok
            ditentukan oleh Mahasiswa.
          </p>

          <div class="group-info">
            <strong>Penentu Anggota Kelompok:</strong> Kelompok 1
          </div>

          <div class="deadline-section">
            <div class="deadline">Deadline : Senin, 27 November 2025</div>
            <button class="manage-btn">Daftar Kelompok</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>