<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Tubeslayer</title>
   <link rel="stylesheet" href="../../static/css/dash-user.css">
   <script src="../../static/js/dash-user.js" defer></script>
   <link href='https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../../static/logo/blue-logo.png" alt="logo">
            </span>

            <div class ="text header-text">
                <span class="name">Tubeslayer</span>
            </div>
        </div>
    </header>
    <i class='bxr bx-chevron-right toggle'></i> 
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link active">
                    <a href="dashboard.html">
                        <img src="../../static/icon/dashboard.png" alt="Dashboard Icon" class="icon dashboard-icon">
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="mata-kuliah.html">
                        <img src="/icon/open-book.png" alt="Open book Icon" class="icon open-book-icon">
                        <span class="text nav-text">Mata Kuliah</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="home">
    <div class="header">
        <div class="left-section">
            <span class="dashboard-title">Dashboard</span>
        </div>
        <div class="right-section">
            <div class="info">
                <span class="name">Nama</span>
                <span class="role">Role</span>
            </div>
            <img src="../../static/icon/pfp.png" class="pfp" alt="pfp">
            <button type="button" class="logout">
                <img src="../../static/icon/logout.png" class="logout-btn" alt="logo-logout">
            </button>
        </div>
    </div>
    <div class="contents">
        <div class="header-section">
            <span class="web-title">Tubeslayer</span>
            <span class="welcome-message">Selamat datang nama!</span>
        </div>
        <div class="overview-section">
            <span class="overview-title">Overview</span>
            <div class="overview-div">
                <div class="left-overview">
                    <span class="date">Tanggal:</span>
                    <span class="semester">Semester:</span>
                </div>
                <div class="right-overview">
                    <span class="mk">Mata kuliah semester ini:</span>
                    <span class="tubes-aktif">Tugas besar aktif:</span>
                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="content-title">
                <span class="content-title">Mata Kuliah</span>
                <a href="#" class="lihat-semua-btn">
                    Lihat Semua >
                </a>
            </div>
            <div class="content-div">
                <div class="content1">
                    <span class="nama-mk">Nama MK</span>
                    <span class="kelas">Kelas</span>
                </div>
                <div class="content2">
                    <span class="nama-mk">Nama MK</span>
                    <span class="kelas">Kelas</span>
                </div>
                <div class="content3">
                    <span class="nama-mk">Nama MK</span>
                    <span class="kelas">Kelas</span>
                </div>
                <div class="content4">
                    <span class="nama-mk">Nama MK</span>
                    <span class="kelas">Kelas</span>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>