<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nilai Mahasiswa</title>
        <link rel="stylesheet" href="../../../../resources/static/css/nilai-mahasiswa.css">
        <script src="../../../static/js/nilai-mahasiswa.js" defer></script>
        <link href='https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css' rel='stylesheet'>  
    </head>

    <body>
        <nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../../../static/logo/blue-logo.png" alt="logo">
            </span>

            <div class ="text header-text">
                <span class="name">Tubeslayer</span>
            </div>
        </div>
    </header>
    <i class='bxr bx-chevron-right toggle'></i> 
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link active">
                    <a href="#">
                        <img src="../../../static/icon/dashboard.png" alt="Dashboard Icon" class="icon dashboard-icon">
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <img src="../../../static/icon/open-book.png" alt="Open book Icon" class="icon open-book-icon">
                        <span class="text nav-text">Mata Kuliah</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="home">
    <div class="header">
        <div class="left-section">
            <span class="dashboard-title"></span>
        </div>
        <div class="right-section">
            <div class="info">
                <span class="name">Keisha Neira Jocelyn</span>
                <span class="role">Mahasiswa</span>
            </div>
            <img src="../../../static/icon/pfp.png" class="pfp" alt="pfp">
            <button type="button" class="logout">
                <img src="../../../static/icon/logout.png" class="logout-btn" alt="logo-logout">
            </button>
        </div>
    </div>

    <div class="contents">
        <div class="nav-segmented-control">
            <div class="kuliah-segment">
                Kuliah
            </div>

            <div class="Daftar-Peserta-segment">
                Daftar Peserta
            </div>

            <div class="nav-active">
                Nilai
            </div>
        </div>
    </div>

    <div class="container">
        <div class="rectangle-blue">
            <div class="tb-title">
                <img src="../../../../resources/static/icon/icon-AI.png" class="tb-icon">
                <div class="subject-info-wrapper">
                    <div class="subject-title">Artificial Intelligence</div>
                    <div class="subject-details">
                        <span class="bold-koor">Koordinator: </span> Clara Joycelyne Siauttara <br>
                        <span class="bold-NIP">NIP: </span>20080107
                    </div>
                </div>
            </div>
        </div>
        
        <div class="rectangle-white">
            
            <div class="rectangle-yellow">
                <div class="search-and-info">
                    <div class="search-wrapper">
                        <input type="text" class="search-input" placeholder="Cari nama disini...">
                        <img src="../../../static/icon/seacrh.png" class="search-icon" alt="Search Icon">
                    </div>
                    <div class="task-info">
                        <span class="boldtext">Tugas: </span> tugas 1
                    </div>
                </div>

                <div class="assignment-table-wrapper">
                    <div class="assignment-header">
                        <div class="col-no">No</div>
                        <div class="col-nama">Nama</div>
                        <div class="col-tenggat">Tenggat</div>
                    </div>

                    <a href="dashboard-nilai-mahasiswa.html" class="assignment-row">
                        <div class="col-no">1.</div>
                        <div class="col-nama">Tugas Besar Tahap 1</div>
                        <div class="col-tenggat">27 Nov 2025</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>
    </body>
</html>