@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background: linear-gradient(180deg, rgba(172, 224, 249, 1) 50%, rgba(255, 241, 235, 1) 100%);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

header img{
    width: 65px; 
    height: 65px; 
    margin: 20px; 
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

#informasi-dasar{
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 80pt;
    font-family: Sen;
    margin-bottom: 10px; 
    margin-top: 0; 
    color: #0078B5; 
}

p{
    text-align: center;
    font-family: Sen; 
    font-size: 13pt; 
    color: #0078B5; 
    margin-bottom: 30px;
}

#login-btn{
    background-color: black;
    padding: 10px; 
    color: white; 
    font-family: Sen;
    border: none;
    border-radius: 25px;  
    cursor: pointer;
    text-decoration: none;
    padding-left: 30px; 
    padding-right: 30px; 
    font-size: 15pt; 
    font-weight: bold;
    box-shadow: 2px 4px 5px grey;
}