@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    max-width: 100%;
    font-family: Sen;
    margin: 0; 
    padding: 0; 
}

:root{
    /* Transition */
    --tran-02: all 0.2s ease; 
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
}

.bold{
    font-weight: bold;
}

/* === SIDEBAR === */
.sidebar .text{
    font-size: 15px; 
    font-weight: 500;
    color: black;
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar{
    position: fixed;
    top: 0; 
    left: 0; 
    height: 100%;
    width: 230px;
    padding: 10px 14px; 
    background-color: white;
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width:73px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: auto;
    margin-right: 20px; 
    margin-left: 10px
}

.sidebar li .icon,
.sidebar li .text{
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 55px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: bold;
    color: #0078B5;
    font-size:15pt;
}

.sidebar .toggle{
    position: absolute; 
    top: 50%; 
    right: -40px; 
    transform: translateY(-50%) rotate(180deg);
    height: 35px;
    width: 35px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black; 
    font-size: 25px;
    cursor: pointer;
    transition: var(--tran-03);
}

.sidebar.close .toggle{
    transform: translateY(-50%); 
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--tran-04); 
    border-radius: 10px;
}

.sidebar li a:hover{
    background-color: #C1EBFF;
}

.sidebar .menu{
    margin-top: 50px;
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.sidebar li.active a {
    background-color: #C1EBFF; 
}

.home{
    position: absolute;
    height: 100vh;
    top: 0; 
    left: 73px; 
    width: calc(100% - 73px);
    transition: var(--tran-05);
    background: linear-gradient(360deg, rgba(172, 224, 249, 1) 50%, rgba(255, 241, 235, 1) 100%);
    display: flex;
    flex-direction: column;
}

.sidebar.close ~ .home{
    filter: blur(0px);
    pointer-events: auto;
} 

.sidebar:not(.close) ~ .home {
    filter: blur(3px) brightness(0.7); 
    transition: var(--tran-05); 
    pointer-events: none; 
}

.sidebar.close ~ .home {
    filter: blur(0px); 
    pointer-events: auto;
}

.sidebar:not(.close) ~ .home {
    filter: blur(3px) brightness(0.7); 
    transition: var(--tran-05); 
    pointer-events: none; 
}

.sidebar:not(.close) ~ .home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); 
    z-index: 5;
}

.home .header{
    height: 80px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .header .left-section{
    margin-left: 48px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
}

.home .header .left-section .dashboard-title{
    font-weight: bold;
    font-size: 20pt; 
}

.home .header .right-section{
    margin-right: 30px; 
    gap: 15px;
    display: flex;
    align-items: center;
}

.home .header .right-section .info{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.name{
    font-weight: bold;
    font-size: 14pt; 
}

.role{
    font-size: 12pt; 
}

.pfp{
    width: 45px;
    height: 45px;
}

.logout-btn{
    width: 25px;
    height: 25px;
}

.logout{
    width: 40px;
    height: 40px;
    border: none;
    background-color: #C1EBFF; 
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 1px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: calc(100% - 80px);
    gap: 35px; 
}

.header-section{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 1360px;
    height: 160px; 
    background: url(../img/dashboard-header.png); 
    background-size:cover;
    border-radius: 15px; 
    flex-direction: column;
    gap: 10px; 
    box-shadow: 2px 3px 1px grey;
}

.web-title{
    font-weight: bold;
    font-size: 30pt;
}

.welcome-message{
    color: #757575;  
    font-size: 14pt;    
}

.overview-section{
    width: 1360px; 
    display: flex; 
    flex-direction: column;
}

.overview-title{
    font-weight: bold;
    font-size: 17pt; 
}

.overview-div{
    margin-top: 10px;   
    display: flex;
    justify-content: space-between;
}

.left-overview{
    width: 660px; 
    height: 150px; 
    border-radius: 15px;
    background-color: white;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 3px 1px grey;
    gap: 20px; 
}

.date{
    font-weight: bold;
    font-size: 14pt; 
    margin-left: 30px; 
}

.semester{
    font-weight: bold;
    font-size: 14pt;  
    margin-left: 30px;
}

.right-overview{
    width: 660px; 
    height: 150px; 
    border-radius: 15px; 
    background-color: white;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 3px 1px grey;
    gap: 20px; 
}

.mk{
    font-weight: bold;
    font-size: 14pt; 
    margin-left: 30px; 
}

.tubes-aktif{
    font-weight: bold;
    font-size: 14pt;  
    margin-left: 30px;
}

.mk, .tubes-aktif {
    font-weight: bold;   /* label tetap bold */
    font-size: 14pt;
    margin-left: 30px;
}

.mk-value, .tb-value {
    font-weight: normal; /* angka jadi normal */
}


.content-section{
    width: 1360px; 
    display: flex; 
    flex-direction: column;
    align-content: center;
    gap: 20px; 
    margin-top: 20px; 
}

.content-title{  
    display: flex;
    justify-content: space-between;
}

.lihat-semua-btn{
    text-decoration: none;
    color:white;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; 
    font-size: 10pt; 
    padding-left: 10px; 
    padding-right: 10px;
    box-shadow: 2px 2px 3px grey;
}

.content-title{
    font-weight: bold;
    font-size: 17pt; 
}

.content-div{
    display: flex;
    justify-content: space-between;
}

.content1, .content2, .content3, .content4{
    width: 320px; 
    height: 150px; 
    background-color: white;
    border-radius: 15px; 
    justify-content: center;
    box-shadow: 2px 3px 1px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.nama-mk{
    font-weight: bold;
    font-size: 15pt; 
}

.kelas{
    font-size: 13pt; 
}









