@import url('penilaian-dosen-base.css');

/* === PAGE-SPECIFIC: Rubrik Penilaian Dosen === */

.rectangle-blue {
    width: 90%; 
    max-width: 1648px;
    height: 220px;       
    background: #CCF0F7; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 10;          
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-top: 10px;
}

.tb-icon {
    width: 150px;
    border-radius: 30px;
}

.tb-text {
    font-size: 36px;
    font-weight: 700;
}

.rectangle-white {
    width: 90%; 
    max-width: 1648px; 
    min-height: 610px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -15px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.rectangle-yellow {
    width: calc(100% - 80px);
    position: absolute;
    top: 100px;
    height: 480px;
    background: #FFF5F1;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 15;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.assignment-table-wrapper {
    width: 100%;
    padding: 0;
}

.assignment-header {
    display: flex;
    gap: 25px;
    border-radius: 10px;
    padding: 0; 
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.col-komponen {
    width: 45%;
    text-align: left;
    background-color: #CDE8F6;
    border-radius: 15px;
    padding: 15px 15px;
}

.col-bobot {
    width: 10%;
    text-align: center;
    background-color: #CDE8F6;
    border-radius: 15px;
    padding: 15px 15px;
}

.col-keterangan {
    width: 40%;
    text-align: left;
    background-color: #CDE8F6;
    border-radius: 15px;
    padding: 15px 15px;
}

.assignment-row {
    display: flex;
    gap: 25px;
    border-radius: 10px;
    padding: 0; 
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.col-isi-komponen {
    width: 45%;
    text-align: left;
    background-color: white;
    border-radius: 15px;
    padding: 25px 15px;
    border: solid black 1px;
}

.col-isi-bobot {
    width: 10%;
    text-align: center; 
    background-color: white;
    border-radius: 15px;
    padding: 25px 15px;
    border: solid black 1px;
}

.col-isi-keterangan {
    width: 40%;
    text-align: left;
    background-color: white;
    border-radius: 15px;
    padding: 25px 15px;
    border: solid black 1px;
}

.tilte-rubrik {
    display: flex;
    margin-top: 40px;
    font-size: 36px; 
    font-weight: 700;
    align-self: flex-start;
    margin-left: 0;
}

.total-bobot {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    color: black;
}

.total {
    width: 12%; 
    background-color: #CDE8F6;
    border-radius: 15px;
    padding: 15px 15px;
    text-align: center; 
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
}

.bobot {
    width: 7%; 
    background-color: #CDE8F6;
    border-radius: 15px;
    padding: 15px 15px;
    text-align: center;
}
