<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Tubeslayer</title>
   <link rel="icon" th:href="@{/logo/blue-logo.png}" type="image/png">
   <link rel="stylesheet" href="/css/auth-styles.css">
</head>
<body>
   <header>
    <img th:src="@{/logo/black-logo.png}" alt="Logo">
   </header>
   <main>
       <section id="informasi-dasar">
           <h1>Tubeslayer</h1>
           <p>Platform manajemen tugas besar yang dirancang khusus untuk mahasiswa Informatika UNPAR.
            <br>Kelola deadline, koordinasi tim, dan pantau progres proyek dengan mudah dalam satu tempat.</p>
       </section>
       <section id="login">
           <a href="login" type="button" id="login-btn">Login</a>
       </section>
   </main>
</body>
</html>