<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil - Tubeslayer</title>

    
    <link rel="stylesheet" href="/css/profil.css">

    
    <script src="/js/profil.js" defer></script>
    <script src="/js/sidebar-hlmtubes.js" defer></script>

    
    <link href='https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/logo/blue-logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">Tubeslayer</span>
                </div>
            </div>
        </header>

        <i class='bx bx-chevron-right toggle'></i>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links" id="sidebar-admin">
                    <li class="nav-link">
                        <a href="/admin/dashboard">
                            <img src="/icon/dashboard.png" class="icon">
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/admin/menu-awal-ad">
                            <img src="/icon/database.png" class="icon">
                            <span class="text nav-text">Data</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/admin/arsip-mata-kuliah">
                            <img src="/icon/archive.png" class="icon">
                            <span class="text nav-text">Arsip Mata Kuliah</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links" id="sidebar-dosen">
                    <li class="nav-link">
                        <a href="/dosen/dashboard">
                            <img src="/icon/dashboard.png" class="icon">
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/dosen/mata-kuliah">
                            <img src="/icon/open-book.png" class="icon">
                            <span class="text nav-text">Mata Kuliah</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links" id="sidebar-mahasiswa">
                    <li class="nav-link">
                        <a href="/mahasiswa/dashboard">
                            <img src="/icon/dashboard.png" class="icon">
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/mahasiswa/mata-kuliah">
                            <img src="/icon/open-book.png" class="icon">
                            <span class="text nav-text">Mata Kuliah</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    
    <section class="home">

        
        <div class="header">
            <div class="left-section">
                <span class="dashboard-title">Profil</span>
            </div>

            <div class="right-section">
            <a th:href="@{/logout}" class="logout-link">
                <button type="button" class="logout">
                    <img src="/icon/logout.png" class="logout-btn" alt="logo-logout">
                </button>
            </a>
            </div>
        </div>

        
        <div class="content-section contents">

            
            <img src="/icon/pfp.svg" class="pfp" alt="Foto Profil">

            
            <div class="info">
                <span class="name" id="profil-nama" th:text="${user.nama}">Nama User</span>
                <span class="role" id="profil-role" th:text="${user.role}">Role User</span>
                <span class="email" id="profil-email" th:text="${user.email}">email@unpar.ac.id</span>

                
                <div th:if="${user.role} == 'Dosen'" class="dosen-info">
                    <div class="nip">NIP: <span th:text="${nip}">20080107</span></div>
                </div>

                
                <div th:if="${user.role} == 'Mahasiswa'" class="mahasiswa-info">
                    <div class="npm">NPM: <span th:text="${npm}">19012345</span></div>
                </div>
            </div>

        </div>

        </div>

    </section>

</body>
</html>
